---
title: Concentric
---

<div id="header-wrap">
  <div id="header">
    <p id="contact-info">
      <span id="contact-info-address">210 W 14th Street, Suite 3 New York, NY 10011</span>
      <span id="contact-info-phone">PH (917) 363 4324</span>
      <a id="contact-info-link" href="#" title="Contact us">Contact Us</a>
    </p>
    <div id="social-networks">
      <div id="social-networks-hint">Follow Us On</div>
      <div id="social-networks-facebook">
        <a id="social-networks-facebook-link" href="#" title="Become our facebook fans">Facebook</a>
      </div>
      <div id="social-networks-twitter">
        <a id="social-networks-twitter-link" href="#" title="Follow us on Twitter">Twitter</a>
      </div>
    </div>
  </div>
</div>
<div id="nav-wrap">
  <h1 id="title">
    <a id="home-link" href="#" title="concentric">concentric</a>
  </h1>
  <ul id="nav">
    <% data.menu.each do |m| %>
    <li id="nav-<%= m.id %>" class="nav-item">
      <h3 class="nav-item-h3">
        <a id="nav-<%= m.id %>-link" class="nav-item-link" href="#" title="<%= m.name %>"><%= m.name %></a>
      </h3>
    </li>
    <% end %>
  </ul>
</div>
<div id="main">
  <div id="show-room">
    <div id="learn-more">
      <p id="learn-more-description">A sea of endless possibilities... centered around one goal.</p>
      <a id="the-work-link" href="#" title="The work">THE WORK</a>
    </div>
    <div id="the-work">
      <p id="the-work-description">Foreign Affairs Mobile Website</p>
      <a id="learn-more-link" href="#" title="Learn more">LEARN MORE</a>
    </div>
  </div>
  <div id="preview-wrap">
    <div id="the-work-preview" class="preview-block">
      <h3 id="the-work-preview-title">THE WORK</h3>
      <% data.workpreview.each do |wp| %>
      <div class="preview-item">
        <a id="preview-item-clip-link" href="#" title="<%= wp.title %>">
          <img src="<%= wp.filename %>" alt="<%= wp.description %>" id="preview-item-clip-<%= wp.id %>" class="preview-item-clip">
        </a>
        <div class="preview-item-detail">
          <h4 class="preview-item-title">
            <a class="preview-item-title-link" href="#" title="<%= wp.title %>"><%= wp.title %></a>
          </h4>
          <p class="preview-item-description"><%= wp.description %></p>
          <a class="preview-item-link" href="#" title="More about <%= wp.title %>">View Work</a>
        </div>
      </div>
      <% end %>
    </div>
    <div id="good-news-preview" class="preview-block">
      <h3 id="good-news-preview-title">GOOD NEWS</h3>
      <% data.goodnewspreview.each do |gnp| %>
      <p class="good-news-preview-date"><%= gnp.date %></p>
      <h4 class="good-news-preview-title">
        <a class="good-news-preview-link" href="#" title="<%= gnp.title %>"><%= gnp.title %></a>
      </h4>
      <% end %>
    </div>
  </div>
</div>
<div id="footer-wrap">
  <div id="footer">
    <p id="footer-1">
      <span class="footer-item">Concentric Studio</span>
      <span class="footer-item">210 W 14th Street, Suite 3 New York, NY 10011</span>
      <span class="footer-item">PH (917) 363 4324</span>
      <span class="footer-item">
        <a class="footer-link" href="#" title="Contact Us">Contact Us</a>
      </span>
    </p>
    <p id="footer-2">&copy; Copyright 2007-2010 Concentric Studio. All Rights Reserved</p>
  </div>
</div>
